<%- include('./partials/header'); -%>
  <div style="margin: 20px;">
    <h1>Name : <%=imgFind.imgName%></h1>
    <h2>Image Details : <%=imgFind.imgDetails%></h2><br><br>
    <a href="/show/<%=imgFind._id%>/edit"><button class="btn btn-primary">Edit</button></a>
    <a href="/show/delete/<%=imgFind._id%>"><button class="btn btn-danger">Delete</button></a>
  </div>
<%- include('./partials/footer'); -%>