<%- include('./partials/header'); -%>
        <form method="POST" action="/show/<%=imgFind._id%>/edit" style="margin: 20px;">
            <input placeholder="Enter image name" name="name" type="text" value=<%=imgFind.imgName%>  />
            <input placeholder="Enter image full url" name="url" type="text" value=<%=imgFind.imgUrl%>  />
            <input placeholder="Enter image description" name="details" type="text" value=<%=imgFind.imgDetails%>  />
            <button type="submit">Submit</button>
        </form>    
<%- include('./partials/footer'); -%>