<%- include('./partials/header'); -%>        
    <a href="/new"><button class="btn btn-success" style="margin: 20px;"><h3>New</h3></button><br></a>
    <h4 style="margin: 20px;">Click on any of the image to get image details</h4>
    <div class="container">
      <div class="row">
        <% images.forEach(img => { %>
          <div class="col col-lg-4" width="18rem">
            <a href="/show/<%=img._id%>"><img src=<%=img.imgUrl%> style="width: 250px; height: 250px; margin:10px" /></a>
          </div>
        <%}); %>
      </div>
        <% if (pages > 0) { %>
          <ul class="pagination text-center">
              <% if (current == 1) { %>
                  <li class="disabled"><a>First</a></li>
              <% } else { %>
                  <li><a href="/1">First</a></li>
              <% } %>
              <!-- <li><a href="/<%= current %>"><%= current %></a></li>
              <li><a href="/<%= pages %>">Last</a></li> -->
              <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
              <% if (i !== 1) { %>
                  <li class="disabled"><a>...</a></li>
              <% } %>
              <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                  <% if (i == current) { %>
                      <li class="active"><a><%= i %></a></li>
                  <% } else { %>
                      <li><a href="/<%= i %>"><%= i %></a></li>
                  <% } %>
                  <% if (i == Number(current) + 4 && i < pages) { %>
                      <li class="disabled"><a>...</a></li>
                  <% } %>
              <% } %>
              <% if (current == pages) { %>
                  <li class="disabled"><a>Last</a></li>
              <% } else { %>
                  <li><a href="/<%= pages %>">Last</a></li>
              <% } %>
          </ul>
      <% } %>
    </div>
    <form action="/new" method="GET">    
      <button class="btn btn-success" type="submit">Submit</button>
    </form>
<%- include('./partials/footer'); -%>