<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Image-O-Pedia</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#" style="margin-left: 20px;" class="center-text"><h1>Image-O-Pedia</h1></a>
    </nav>    
    <a href="/new"><button class="btn btn-success" style="margin: 20px;"><h3>New</h3></button><br></a>
    <h4 style="margin: 20px;">Click on any of the image to get image details</h4>
    <div class="container">
      <div class="row">
        <% images.forEach(img => { %>
          <div class="col col-lg-4" width="18rem">
            <a href="/show/<%=img._id%>"><img src=<%=img.imgUrl%> style="width: 250px; height: 250px; margin:10px" /></a>
          </div>
        <%}); %>
      </div>
        <% if (pages > 0) { %>
          <ul class="pagination text-center">
              <% if (current == 1) { %>
                  <li class="disabled"><a>First</a></li>
              <% } else { %>
                  <li><a href="/1">First</a></li>
              <% } %>
              <!-- <li><a href="/<%= current %>"><%= current %></a></li>
              <li><a href="/<%= pages %>">Last</a></li> -->
              <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
              <% if (i !== 1) { %>
                  <li class="disabled"><a>...</a></li>
              <% } %>
              <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                  <% if (i == current) { %>
                      <li class="active"><a><%= i %></a></li>
                  <% } else { %>
                      <li><a href="/<%= i %>"><%= i %></a></li>
                  <% } %>
                  <% if (i == Number(current) + 4 && i < pages) { %>
                      <li class="disabled"><a>...</a></li>
                  <% } %>
              <% } %>
              <% if (current == pages) { %>
                  <li class="disabled"><a>Last</a></li>
              <% } else { %>
                  <li><a href="/<%= pages %>">Last</a></li>
              <% } %>
          </ul>
      <% } %>
    </div>
    <form action="/new" method="GET">    
      <button class="btn btn-success" type="submit">Submit</button>
    </form>
</body>
</html>